li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}
pre code {
    color: #bd4147;
    /* border: 1px solid #5D3030; */
    display: inline-block;
    padding: 5px;
    background: #F6F6F6;
}
pre {
    background: #F6F6F6;
}